/*=================================================
			Typography
=================================================*/

body {
	font-family: 'Josefin Sans', sans-serif;
	color: #ffffff;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

h1 {
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
}

p {
	font-size: 16px;
	line-height: 1.64em;
	font-weight: 400;
    word-spacing: 2px;
    letter-spacing: 1px;
}

/*=================================================
			Button
=================================================*/

.btn {
	background-color: #ecd304;
	border-radius: 0px;
	color: #000000;
	border: 1px solid transparent;
	margin-bottom: 15px;
}

.btn-cody-default {
	padding: 12px 24px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-submit {
	width: 100%;
}

/*=================================================
			Form
=================================================*/

.form-control {
	border-radius: 0px;
	color: #000000;
	font-size: 18px;
}

.form-control::-webkit-input-placeholder {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.form-control::-moz-placeholder {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.form-control:-ms-input-placeholder {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.form-control:-moz-placeholder {
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*=================================================
			Slick Customization
=================================================*/

.slick-slider {
	-webkit-user-select: text;
	 -khtml-user-select: text;
	   -moz-user-select: text;
		-ms-user-select: text;
			user-select: text;
}
.slick-list.draggable {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: -moz-none;
		-ms-user-select: none;
			user-select: none;
}

.slick-dots li button {
	background-color: #ffffff;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}

.slick-dots li button:hover {
	background-color: rgba(214, 197, 53, 0.88);
}

.slick-dots li.slick-active button {
	background-color: #ecd304;
}

.slick-dots li button::before, 
.slick-dots li.slick-active button:before {
    color: transparent;
}

.slick-prev, .slick-next {
	z-index: 99;
}

.slick-prev {
	left: -15px;
}

.slick-next {
	right: -15px;
}

/*=================================================
				Preloader
=================================================*/

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 101vh;
    background-color: #000000;
    z-index: 1000;
}

#spinner {
	position: relative;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	-webkit-animation: spinner 5s infinite linear;
	-moz-animation: spinner 5s infinite linear;
	-ms-animation: spinner 5s infinite linear;
	animation: spinner 5s infinite linear;
}

#spinner span{
	width: 25px;
	height: 25px;
	position: absolute;
	background: #ecd304;
	display: block;
	-webkit-animation: spinner_span 1s infinite linear;
	-moz-animation: spinner_span 1s infinite linear;
	-ms-animation: spinner_span 1s infinite linear;
	animation: spinner_span 1s infinite linear;
}

#spinner span:nth-child(1) {
	background: #ecd304;
}

#spinner span:nth-child(2) {
	left: 25px;
	background: #ecd304;
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-ms-animation-delay: .2s;
	animation-delay: .2s;
}

#spinner span:nth-child(3) {
	top: 25px;
	background: #ecd304;
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-ms-animation-delay: .4s;
	animation-delay: .4s;
}

#spinner span:nth-child(4){
	top: 25px;
	left: 25px;
	background: #ecd304;
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-ms-animation-delay: .6s;
	animation-delay: .6s;
}

@-webkit-keyframes spinner {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes spinner_span {
   0% { -webkit-transform:scale(1); }
   50% { -webkit-transform:scale(0.5); }
   100% { -webkit-transform:scale(1); }
}

@-moz-keyframes spinner {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@-moz-keyframes spinner_span {
   0% { -moz-transform:scale(1); }
   50% { -moz-transform:scale(0.5); }
   100% { -moz-transform:scale(1); }
}

@-ms-keyframes spinner {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}

@-ms-keyframes spinner_span {
   0% { -ms-transform:scale(1); }
   50% { -ms-transform:scale(0.5); }
   100% { -ms-transform:scale(1); }
}

@-ms-keyframes spinner {
    from {-ms-transform: rotate(0deg);}
    to {-ms-transform: rotate(360deg);}
}

@keyframes spinner_span {
   0% { transform:scale(1); }
   50% { transform:scale(0.5); }
   100% { transform:scale(1); }
}

/* Loaded */
.loaded #preloader .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #preloader .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #spinner {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #preloader {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #preloader {
  display: none;
}


/*=================================================
				Navbar
=================================================*/

.main-nav {
	background-color: #000000;
	padding: 21px 0px;
	text-align: center;
	text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.slider-nav span {
	color: #ffffff;
}

.slider-nav .slick-current span {
	color: #ecd304;
}

.slider-nav .icon-box {
    border: 1px solid #ffffff;
	margin: 10px 0px;
	margin-right: 0px;
}

.slider-nav .icon-box .icon-box-wrapper {
	background-color: transparent;
    border: 1px solid transparent;
    display: block;
    padding: 7px;
    margin: 6px;
    vertical-align: middle;
}

.slider-nav .icon-box i {
	color: #ffffff;
}

.slider-nav .slick-current .icon-box{
	border: 1px solid #ecd304;
}

.slider-nav .slick-current .icon-box .icon-box-wrapper {
	background-color: #ecd304;
}

.slider-nav .slick-current .icon-box i {
	color: #000000;
}

.slider-nav .slick-slide.slick-active::after {
    content: "\f111";
    color: #ffffff;
    font-family: FontAwesome;
    font-size: 10px;
    position: relative;
    right: 43px;
    top: 22px;
}

.slider-nav .slick-slide.slick-active.slick-current::after {
	color: #ecd304;
}

.slider-nav .slick-slide.slick-active {
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
    padding-bottom: 13px;
}

.slider-nav .slick-slide.slick-active.slick-current {
	border-bottom-color: #ecd304;
}

.slider-nav .slick-slide.slick-active:first-child, 
.slider-nav .slick-slide.slick-active:last-child {
    padding-bottom: 0px;
    border-bottom: none;
}

.slider-nav .slick-slide.slick-active:first-child::after, 
.slider-nav .slick-slide.slick-active:last-child::after {
    content: '';
}

.slider-nav .slick-active:first-child .icon-box {
    float: right;
    margin: 10px 9px 10px 10px;
}

.slider-nav .slick-active:last-child .icon-box {
    float: left;
    margin: 9px 0px 10px 10px;
}

/*=================================================
				Home Page
=================================================*/

.home-page {
	background: url(../image/home_bg.png);
}

.home-page .logo {
	margin-top: 65px;
}

.home-page .site-title {
	margin: 30px 0px 40px 0px;
	text-transform: uppercase;
}

.home-page a.btn i {
	font-size: 15px;
	margin-left: 6px;
}

.home-page .social-buttons {
	margin: 35px 0px
}

/*=================================================
				About Page
=================================================*/

.about-page {
	background: url(../image/about_bg.png);
}

/*=================================================
				Service Page
=================================================*/

.service-page {
	background: url(../image/service_bg.png);
}

.about-process-item{
	margin-bottom: 30px;
	background-color: rgba(255, 255, 255, 0.78);
	padding: 20px;
}

.item-content {
    background-color: #fff;
    color: #000;
    padding: 25px;
    box-shadow: none;
    -webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.about-process-item-heading {
    text-align: left;
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
}

.about-process-item-description {
    text-align: justify;
}

.about-process-icon i {
	display: table-cell;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	vertical-align: middle;
	font-size: 40px;
}

.about-process-icon {
	width: 65px;
	height: 65px;
	text-align: center;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 50%;
	background-color: #ecd304;
	border: 1px solid transparent;
	color: #fff;
	margin: 0 auto;
	margin-bottom: 20px;
	display: table;
	overflow: hidden;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.about-process-item:hover .item-content {
	background-color: #ecd304;
	box-shadow: 0px 0px 15px #8d8d8d;
}

.about-process-item:hover .about-process-icon {
	border: 1px solid #ffffff;
}

.about-process-item:hover .about-process-icon i
{
	-webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-o-transform:rotate(360deg);
    transform: rotate(360deg);
}

/*=================================================
				Process Page
=================================================*/

.process-page {
	background: url(../image/process_bg.png);
}

.process-step {
    text-align: left;
    margin-bottom: 75px;
}

.process-step h5 {
	letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;	
}

.process-icon {
    width: 65px;
	height: 65px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #ffffff;
	color: #ffffff;
	margin: 15px 0px;
	display: table;
	overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.process-icon i {
    display: table-cell;
    font-size: 40px;
    vertical-align: middle;
    text-align: center;
    -webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.process-step:hover h5, 
.process-step:hover .process-icon i {
	color: #ecd304;
}

.process-step:hover .process-icon {
	border: 1px solid #ecd304;
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
    	-ms-transform: rotateY(180deg);
    	 -o-transform: rotateY(180deg);
    		transform: rotateY(180deg);
}

.process-step p {
	font-weight: 300;
}

/*=================================================
				Portfolio Page
=================================================*/

.portfolio-page {
	background: url(../image/portfolio_bg.png);
}

/*---------------------  portfolio filtering  -----------------------*/

.portfolio-filter .controls {
	margin-bottom: 40px;
}

.portfolio-filter .controls .filter {
	border: none;
	background-color: transparent;
	color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
}

.portfolio-filter .controls .filter:hover {
	color: rgba(214, 197, 53, 0.88);
}

.portfolio-filter .controls .filter.active {
	color: #ecd304;
}

#portfolioItems .mix{
	display: none;
}

.portfolio-items .portfolio-item {
	position: relative;
	margin: 15px 0px;
}

.portfolio-items .portfolio-item .item-img {
	padding: 30px;
    background-color: #ffffff;
}

.portfolio-items .portfolio-item a,
.portfolio-items .portfolio-item a img {
	display: block;
	position: relative;
}

.portfolio-items .portfolio-item a {
	overflow: hidden;
}

.portfolio-items .portfolio-item a div {
	position: absolute;
	background-color: rgba(51, 51, 51, 0.7);
	width: 100%;
	height: 100%;
}

.portfolio-items .portfolio-item a div h3 {
	color: #ffffff;
	font-weight: 700;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

.portfolio-items .portfolio-item a div span {
	border: 1px solid #ffffff;
	border-radius: 50%;
	color: #ffffff;
	display: table;
	font-size: 18px;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 10%;
	bottom: 10%;
}

.portfolio-items .portfolio-item a div span i {
	display: table-cell;
	vertical-align: middle;
}

/*---------------  portfolio lightbox design  -------------------*/

.nl-hide {
	display: none;
}

.nivo-lightbox-theme-default .nivo-lightbox-inline {
	padding: 0px;
}

.img-lightbox {
    background-color: #ffffff;
    color: #000000;
}

.img-sidebar {
	position: relative;
	height: 75vh;
	margin: 15px 0px;
	text-align: left;
}

.portfolio-description {
    padding: 30px;
    position: absolute;
    width: 100%;
    background-color: #e3e3e3;
    height: 100%;
    overflow-y: scroll;
}

.img-sidebar .img-title h2 {
	color: #000;
    font-weight: 600;
    line-height: 1.64em;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #fff;
}

.img-sidebar .img-title hr {
	width: 10%;
	border: 1px solid #000000;
	float: left;
	margin: 0px;
}

.sidebar-header {
    margin-bottom: 40px;
}

.img-sidebar .sidebar-content {
	padding-bottom: 15px;
}

.portfolio-details {
    padding-bottom: 30px;
}

.img-sidebar .share-button li .icon-box {
	width: 35px;
	height: 35px;
	border: 1px solid #000000;
	margin-right: 10px;
}

.img-sidebar .share-button li .icon-box:hover {
	border: 1px solid #ecd304;
}

.img-sidebar .share-button li .icon-box i {
	color: #000000;
}

.nivo-lightbox-inline {
	background-color: #cecece;
}




/*=================================================
				Contact Page
=================================================*/

.contact-page {
	background: url(../image/contact_bg.png);
}

.contact-info {
    text-align: left;
    margin-bottom: 40px;
}

.contact-address {
    margin: 65px 0px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

/*=================================================
			Common
=================================================*/

* {
	outline: none;
}

.main-content {
	margin-top: 70px;
}

a:hover {
	text-decoration: none;
	color: rgba(236, 211, 4, 0.80)
}

span {
	color: #ecd304;
}

ul {
	padding-left: 15px;
	list-style-type: none;
}

.page-bg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

}

.page-wrapper {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;
}

.page-wrapper .page-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.page-intro {
	margin: 70px 0px;
}

.page-intro hr {
	border: 1px solid #ffffff;
	width: 10%;
}

.page-intro p {
    font-size: 18px;
    font-weight: 300;
}

.content-box {
	background-color: rgba(255, 255, 255, 0.78);
	margin-bottom: 40px;
	padding: 30px;
}

.content {
	background-color: #ffffff;
	box-shadow: none;
	color: #000000;
	padding: 70px 40px;
	text-align: left;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}

.content-box:hover .content {
	background-color: #ecd304;
	box-shadow: 0px 0px 15px #8d8d8d;
}

.content h5 {
	letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 600;
}

.content hr {
	width: 20%;
	border: 1px solid #000000;
	margin: 30px 0px;
}

.content i {
	margin: 15px 0px 25px 0px;
}

.icon-box {
	margin-right: 30px;
    margin-bottom: 17px;
    width: 45px;
    height: 45px;
    display: inline-table;
    border: 1px solid #ffffff;
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		 -o-transform: rotate(45deg);
			transform: rotate(45deg);
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}

.icon-box i {
	color: #ffffff;
    font-size: 18px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
    	-ms-transform: rotate(-45deg);
    	 -o-transform: rotate(-45deg);
    		transform: rotate(-45deg);
    -webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		 -o-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
}

.icon-box:hover {
	background-color: #ecd304;
	border: 1px solid #ecd304;
}

.icon-box:hover i{
	color: #252526;
}

.share-button li {
    display: inline-block;
    margin-right: 0px;
}

.share-button li .icon-box {
	margin-right: 14px;
}

footer {
	margin: 40px 0px 80px 0px;
}

footer a{
	color: #ecd304;
	text-transform: uppercase;
}

/*=================================================
			Media Query
==================================================*/

@media (max-width: 767px) {
	.process-step {
		text-align: center;
	}

	.process-icon {
		margin: 15px auto;
	}

	.about-process-item-heading {
		margin: 15px 0px;
		text-align: center;
	}

	.content-box {
		padding: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
    .about-process-item-description
    {
    	margin-left: 45px;
    }
    .about-process-item-heading
    {
    	margin-left: 45px;
    }
}